$black: #000;
$gray: #b9bfc9;
$dark-gray: #222222;
$light-gray: #f1f1f1;
$pink: #d400ff;
$white: #f8f7f9;
$true-white: #fff;

$primary-color: #2a1063;

$success: #2ead6b;
$fail: #b70015;

$linkedin-brand: #0077b5;
$linkedin-brand-active: #00a0dc;
$twitter-brand: #1da1f2;
$twitter-brand-active: #5851db;
$gitlab-brand: #fc6d26;
$gitlab-brand-active: #fca326;
